@import '../../app.scss';

.header {
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
  background: $base-8;
  border-bottom: 1px solid $base-7;
  padding: 0 10px;
  font-size: $font-size-lg;
  font-weight: 400;
}