$base-1: #eeeeee;
$base-2: #e2e2e2;
$base-3: #d0d0d0;
$base-4: #ababab;
$base-5: #8a8a8a;
$base-6: #636363;
$base-7: #505050;
$base-8: #323232;
$base-9: #212121;

$primary-1: #cbe5cb;
$primary-2: #aad4ab;
$primary-3: #89c48b;
$primary-4: #71b873;
$primary-5: #5bac5b;
$primary-6: #529d52;
$primary-7: #478b47;
$primary-8: #3e7a3d;
$primary-9: #2e5b2d;

